<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <header>
        <% include ./partials/_header %>
    </header>
    
    <ul>
      <% for (const each in urls){ %>
      <li>
        <a href = '/u/<%= each %>'>/u/<%= each %> </a> --> <%= urls[each]['url'] %>
        <form method = 'GET' action = '/urls/<%= each %>'>
          <input type = 'submit' value= 'Edit'>
        </form>
        <form method = "POST" action = '/urls/<%= each %>/delete'>
          <input type = 'submit' value = 'Delete'>
        </form>
      </li>
    <% }; %> 
  </ul>
  
  <a href='/urls/new'>Shorten a new URL</a>
</body>
</html>